%div{'ng-show' => 'book.name'}
    %h2 {{ book.name_ru }}
    .row
        .col-xs-12.col-sm-6.col-md-3
            %p= image_tag '', 'ng-src' => '{{ book.image["url"] }}', class: 'img-responsive'
        .col-xs-12.col-sm-6.col-md-9
            %p Название - {{ book.name_ru }}
            %p Автор - {{ book.author }}
            %p Издатель - {{ book.publisher }}
            %p ISBN - {{ book.isbn }}
            %p= link_to 'Скачать', '{{ book.link }}', class: 'btn'
    .row
        .col-xs-12
            %p {{ book.caption }}
%div{'ng-hide' => 'book.name'}
    .row
        .col-xs-12
            %p Вы пытаетесь получить доступ к несуществующей книге