.menu-bar
	#dl-menu.dl-menuwrapper
		%button Открыть меню
		%ul.dl-menu
			%li
				%a{href: '/#/', class: 'point' } Главная страница
			%li
				%a{href: '/#/books/astronomy', class: 'point' } Астрономия
			%li
				%a{href: '/#/books/business', class: 'point' } Бизнес
			%li
				%a{href: '/#/books/biography', class: 'point' } Биографии
			%li
				%a{href: '#' } Веб-разработка
				%ul.dl-submenu
					%li.dl-back
						%a{href: '#' } Назад
					%li
						%a{href: '/#/books/common', class: 'point' } Общие материалы
					%li
						%a{href: '/#/books/html', class: 'point' } HTML
					%li
						%a{href: '/#/books/css', class: 'point' } CSS
					%li
						%a{href: '/#/books/js', class: 'point' } JavaScript
					%li
						%a{href: '/#/books/php', class: 'point' } PHP
					%li
						%a{href: '/#/books/frameworks', class: 'point' } Frameworks
			%li
				%a{href: '/#/books/gis', class: 'point' } ДЗЗ
			%li
				%a{href: '/#/books/design', class: 'point' } Дизайн
			%li
				%a{href: '/#/books/languages', class: 'point' } Иностранные языки
			%li
				%a{href: '/#/books/ai', class: 'point' } ИИ
			%li
				%a{href: '/#/books/cooking', class: 'point' } Кулинария
			%li
				%a{href: '/#/books/programming', class: 'point' } Программирование
			%li
				%a{href: '/#/books/photo', class: 'point' } Фотография
			%li
				%a{href: '/#/books/literature', class: 'point' } Худ. литература
			%li
				%a{href: '/#/books/signals', class: 'point' } ЦОС
			%li
				%a{href: '/#/books/electronics', class: 'point' } Электроника
			%li
				%a{href: '/#/books/poisons', class: 'point' } Яды
