.menu-bar
	#dl-menu.dl-menuwrapper
		%button Открыть меню
		%ul.dl-menu
			%li
				%a{href: '/#/', class: 'point' } Главная страница
			%li
				%a{href: '/#/books/1', class: 'point' } Астрономия
			%li
				%a{href: '/#/books/2', class: 'point' } Бизнес
			%li
				%a{href: '/#/books/3', class: 'point' } Биографии
			%li
				%a{href: '#' } Веб-разработка
				%ul.dl-submenu
					%li.dl-back
						%a{href: '#' } Назад
					%li
						%a{href: '/#/books/16', class: 'point' } Общие материалы
					%li
						%a{href: '/#/books/17', class: 'point' } HTML
					%li
						%a{href: '/#/books/18', class: 'point' } CSS
					%li
						%a{href: '#' } JavaScript
						%ul.dl-submenu
							%li.dl-back
								%a{href: '#' } Назад
							%li
								%a{href: '/#/books/22', class: 'point' } JavaScript
							%li
								%a{href: '/#/books/23', class: 'point' } JQuery
							%li
								%a{href: '/#/books/24', class: 'point' } CoffeeScript
					%li
						%a{href: '/#/books/20', class: 'point' } PHP
					%li
						%a{href: '#' } Frameworks
						%ul.dl-submenu
							%li.dl-back
								%a{href: '#' } Назад
							%li
								%a{href: '#' } Django
								%ul.dl-submenu
									%li.dl-back
										%a{href: '#' } Назад
									%li
										%a{href: '/#/books/28', class: 'point' } Python
									%li
										%a{href: '/#/books/30', class: 'point' } Django
							%li
								%a{href: '#' } Ruby on Rails
								%ul.dl-submenu
									%li.dl-back
										%a{href: '#' } Назад
									%li
										%a{href: '/#/books/29', class: 'point' } Ruby
									%li
										%a{href: '/#/books/31', class: 'point' } Rails
							%li
								%a{href: '/#/books/27', class: 'point' } AngularJS
			%li
				%a{href: '/#/books/5', class: 'point' } ДЗЗ
			%li
				%a{href: '/#/books/6', class: 'point' } Дизайн
			%li
				%a{href: '/#/books/7', class: 'point' } Иностранные языки
			%li
				%a{href: '/#/books/8', class: 'point' } ИИ
			%li
				%a{href: '/#/books/9', class: 'point' } Кулинария
			%li
				%a{href: '/#/books/10', class: 'point' } Программирование
			%li
				%a{href: '/#/books/11', class: 'point' } Фотография
			%li
				%a{href: '/#/books/12', class: 'point' } Худ. литература
			%li
				%a{href: '/#/books/13', class: 'point' } ЦОС
			%li
				%a{href: '/#/books/14', class: 'point' } Электроника
			%li
				%a{href: '/#/books/15', class: 'point' } Яды
