%h1 {{ h1 }}
.col-xs-12.col-sm-9.static

.col-xs-12.col-sm-3.static.lastbooks
	%h3 Последние книги
	%ul
		%li{'ng-repeat' => 'book in lastbooks'}
			= link_to '{{ book.name_ru}}, {{ book.author }}', '/#/book/{{ book.id }}'