%h1 {{ h1 }}
.row
	.col-xs-12.col-sm-9
		%h2 Добро пожаловать.
		%p На этом сайте находится электронная библиотека с собранием книг по совершенно различной тематике.
	.col-xs-12.col-sm-3.lastbooks
		%h3 Последние книги
		%ul
			%li{'ng-repeat' => 'book in lastbooks'}
				= link_to '{{ book.name_ru}}, {{ book.author }}', '/#/book/{{ book.id }}'