%div{'ng-show' => 'category.caption_ru'}
	%h1 {{ category.caption_ru }}
	%p {{ category.caption }}
	.row{'ng-show' => 'books.length'}
		.col-xs-12.col-sm-6.col-md-4.book{'ng-repeat' => 'book in books'}
			%p= link_to image_tag('', 'ng-src' => '{{ book.image["url"] }}', class: 'img-responsive'), '/#/book/{{ book.id }}', title: 'Посмотреть подробную информацию о книге', data: {toggle: 'tooltip', placement: 'bottom'}
			%p= link_to 'Скачать', '{{ book.link }}', class: 'btn'
	.row{'ng-hide' => 'books.length'}
		.col-xs-12
			%p В данной категории пока не хранится ни одной книги.