@import url(http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);

* {
	font-family: 'Didact Gothic', sans-serif;
}

html {
	overflow-y: scroll;
}

html,body {
	margin: 0;
	padding: 0;
}

body {
	.static {
		position: static;
	}

	.lastbooks {
		ul {
			padding-left :10px;
			li {
				list-style: none;
			}
		}
	}
}