@import url(http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);

* {
    font-family: 'Didact Gothic', sans-serif !important;
    font-size: 16px;
}

html {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: rgba(217,217,217,0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
}

html,body {
    margin: 0;
    padding: 0;
}

body {
    h1, h2, h3, h4 {
        text-align: center;
    }

    h1 {
        @media (max-width: 767px) {
            font-size: 22px;
        }
    }

    h3 {
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    .btn {
        color: #FFF;
        background: #00b4ae;

        &:hover {
            color: #FFF;
            background: #00a6a0;
        }
    }
}

.simple_form {
    h4 {
        text-align: left;
        font-weight: 600;
        font-size: 16px;
    }
}
