@import url(http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);

* {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 16px;
}

html {
	overflow-y: scroll;
}

html,body {
	margin: 0;
	padding: 0;
}

body {

	h1, h2, h3, h4 {
		text-align: center;
	}

	h1 {
		@media (max-width: 767px) {
			font-size: 22px;
		}
	}

	h3 {
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}

	.lastbooks {
		ul {
			padding-left :10px;
			li {
				list-style: none;
			}
		}
	}

	.container {
		@media (min-width: 768px) and (max-width: 1200px) {
			width: 100%;
		}
	}

	.btn {
		color: #FFF;
		background: #00b4ae;

		&:hover {
			color: #FFF;
			background: #00a6a0;
		}
	}
}

.menu-bar {
	.dl-menuwrapper li a {
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
}